<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Find Animal</h1>
  <h2><i>Hola - Hello</i></h2>
  <p3>Los animales que puedes adivinar en el juego son</p3>
  <p4><br>The animals that you can find in the game are</br></p4>
  <p>
    <br>Perro</br>
    <br>Gato</br>
    <br>Raton</br>
    <br>Canario</br>
    <br>Tortuga</br>
  </p>
  <form method="POST" action="/juego">
    <input type="submit" value="Comenzar">
  </form>
</body>
</html>