<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body lang=ES-CO >
  <h1><p align="center">Find Animal</p></h1>
  <h2><p align="center">Hola - Hello</p></h2>
  
  <p3><p align="center">Los animales que puedes adivinar en el juego son</p></p3>
  <p4><p align="center">The animals that you can find in the game are</p></p4>
  <p>
    <br></br><p align="center">Perro</p>
    <p align="center">Gato</p>
    <p align="center">Raton</p>
    <p align="center">Canario</p>
    <p align="center">Tortuga</p>
  </p>
  <form method="POST" action="/juego">
    <p align="center"><input type="submit" value="Comenzar">
  </form>
</body>
</html>
