<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Find Animal</h1>
	<form method="POST" action="/juego">
		<input type="text" name="letra">
		<input type="submit" value="Jugar">
	</form>
	<p>XaXX</p>
</body>
</html>