<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<bodylang=ES-CO style='tab-interval:35.4pt'>
  <h1><p align="center">Find Animal</p></h1>
	<form method="POST" action="/juego">
		<input type="text" name="letra" maxlength="">
		<input type="submit" value="Jugar">
	</form>

	<h1><%= session['logica'].validar params['letra']%></h1>
</body>
</html>