<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body lang=ES-CO style='tab-interval:35.4pt'>

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><span
class=Ttulo1Car><span lang=EN-US style='font-size:36.0pt;line-height:106%;
mso-ansi-language:EN-US'>Find Animal</span></span><span lang=EN-US
style='font-size:36.0pt;line-height:106%;mso-ansi-language:EN-US'><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
class=Ttulo1Car><span lang=EN-US style='font-size:15.0pt;line-height:106%;
mso-ansi-language:EN-US'><form method="POST" action="/juego">
    <p align="center">
    	<form method="POST" action="/juego">
		<input type="text" name="letra">
		<input type="submit" value="Jugar">
	</form>
    </p>
  </form></span></span><span lang=EN-US
style='font-size:36.0pt;line-height:106%;mso-ansi-language:EN-US'><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
class=Ttulo1Car><span lang=EN-US style='font-size:15.0pt;line-height:106%;
mso-ansi-language:EN-US'><form method="POST" action="/juego" src="historia.erb">
   ssddd
  </form></span></span><span lang=EN-US
style='font-size:36.0pt;line-height:106%;mso-ansi-language:EN-US'><o:p></o:p></span></p>
	
 </div>	
</body>
</html>