<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body lang=ES-CO style='tab-interval:35.4pt'>

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><span
class=Ttulo1Car><span lang=EN-US style='font-size:36.0pt;line-height:106%;
mso-ansi-language:EN-US'>Find Animal</span></span><span lang=EN-US
style='font-size:36.0pt;line-height:106%;mso-ansi-language:EN-US'><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
class=Ttulo1Car><span lang=EN-US style='font-size:20.0pt;line-height:106%;
mso-ansi-language:EN-US'>Hola - Hello</span></span><span lang=EN-US
style='font-size:36.0pt;line-height:106%;mso-ansi-language:EN-US'><o:p></o:p></span></p>

</div>

 <p3>Los animales que puedes adivinar en el juego son</p3>
  <p4><br>The animals that you can find in the game are</br></p4>
  <p class=MsoNormal align=center style='text-align:center'>
    <br>Perro</br>
    <br>Gato</br>
    <br>Raton</br>
    <br>Canario</br>
    <br>Tortuga</br>
  </p>
  <form method="POST" action="/juego">
    <input type="submit" value="Comenzar">
  </form>
</body>
</html>